.centr-wrapper{
    justify-content: space-around;
}

.centr-wrapper-right{
    width: 50%;
 height: auto;
    margin-top: 3%;
}

.centr-wrapper-right-button{
    margin-left: 0%;
}

.centr-wrapper-right-button:hover{
    background-color: #7E73F5;
    color: white;
}

.centr-wrapper-right-text-top, .kurs-zag{
    text-align: center;
    margin-bottom: 5%;
    font-family: BerlingskeSerif-Bold;
    font-size: 30px;
}

.kurs-wrapper{
    display: flex;
flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 7%;
}

.kurs-wrapper2{
    display: inline-flex;
    justify-content: space-between;
}

.kurs-wrapper2-text-wrap{
    display: flex;
    flex-direction: column;
    width: 700px;
}

.kurs-wrapper2-img{
    background-image: url("/img/kurs-chto.jpg");
    width: 100%;
    height: 556px;
    background-repeat: no-repeat;
}

.kurs-wrapper2-text-wrap-zag{
    font-family: BerlingskeSerif-Bold;
    margin-bottom: 5%;
    font-size: 25px;
    margin-bottom: 50px;
}

.kurs-wrapper2-text-wrap-spis{
    font-size: 20px;
}

.kurs-wrapper2-text-wrap-spis-1{
    margin-bottom: 3%;
    display: flex;
}

.urok{
    margin-right: 1%;
    font-family: BerlingskeSerif-Bold;
}

.kurs-wrapper2-text-wrap-spis-2{
    margin-left: 16%;
}

.futter-top-text {
    padding-top: 5%;
    margin-bottom: 30px;
}

.futter-curs-wr{
    width: 200px;
    height: auto;
    text-align: justify;
    padding: 1%;
}

.futter-curs-wrapper {
    margin-bottom: 5%;
}

.futter-wrapper{
    height: auto;
    background-repeat: no-repeat;
    background-image: url(/img/glav/bottom-backround-2.png);
}

.footer{
    height: auto;
    margin-bottom: 0;
    background-image: url(/img/footer-land.png);
}

.chto{
    padding-top: 1px;
}
.chto-1{
    margin-bottom: 2%;
}

.chto-2{
    width: 430px;
    height: auto;

}

.futter-curs-wr-kl{
    height: 50px;
    width: 60px;
    background-image: url(/img/klak.png);
    background-repeat: no-repeat;
}

.chto-3-img-obl-wr{
    display: inline-flex;
    align-items: center;
}

.wr-img{
    margin-top: 2%;
}

.chto-3-img-obl-wr-wr{
    display: flex;
    flex-direction: column;
    margin-left: -30px;
}

.chto-3-img-obl{
    height: 35px;
    width: 60px;
    background-image: url(/img/obl-sin.png);
    background-repeat: no-repeat;
}

.futter-curs-wr-tx{
    width: 400px;

}

.futter-curs-wr-wr{
    display: inline-flex;
    margin-bottom: 2%;
}

.chto-3{
    display: inline-flex;
    width: 80%;
    height: auto;
    justify-items: center;
    align-items: center;
}

.chto-3-img{
    height: 189px;
width: 200px;
    background-image: url(/img/cel.png);
    margin-right: 3%;
    background-repeat: no-repeat;
    margin-top: -250px;
}

.poche-1-img{
    height: 200px;
    width: 300px;
    background-image: url(/img/books.png);
    margin-left: 3%;
    background-repeat: no-repeat;
}

.header{
    height: auto;
    margin-top: 0;
    background-image: url(/img/top-land.png);
}

.bonus{
    text-align: center;
}

.urok-l{
    color: green;
    text-align: center;
    font-size: 18px;
}

.korobka{
    display: inline-flex;
    width: 80%;
}

.korobka-text {
    display: flex;
    padding: 1%;
    text-align: justify;
    flex-direction: column;
}

.korobka-cena{
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration-line: line-through;
    font-size: 50px;
    color: red;
    font-family: Montserrat-ExtraBold;
}

.new{
    color: blueviolet;
    font-size: 80px;
    text-decoration-line: none;
}

.btn-b{
    margin-top: 10px;
}
