@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

body{
    background-color: #fffffd;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.top {
    background-color: #171717;
    width: 100%;
    height: 98px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topText {
    display: flex;
    font-family: ProximaNova-Extrabld;
    font-size: 18;
    height: 67px;
    width: 349px;
    
}

.topText2 {
    display: none;
    font-family: ProximaNova-Extrabld;
    font-size: 18;
    height: 67px;
    width: 349px;
    align-items: center;
}

.topLogo {
    margin-top: 20px;
}

button.new {
    border: 2px solid #885FFF;
    background-color: #171717;
    color: aliceblue;
    font-family: ProximaNova-Bold;
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textBut {
    margin-top: 22px;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 30px;
    margin-bottom: 30px;
}

#headTest {
    font-family: OpenSans-Regular;

    font-size: 18px;
    margin-left: 250px;
}

.tex {
    margin-left: 15px;
}

.count {
    width: 1600px;
    height: 90px;
    background-image: url(/img/plashka_test.png);
    background-repeat: no-repeat;
}

.count_text{
    font-family: OpenSans-Regular;
    font-size: 26px;
    color: rgb(255, 255, 253);
    font-weight: 700;
    margin-left: 250px;
}

.footer{
    background-image: url("/img/footer.png");
    width: 1600px;
    height: 590px;
    margin-left: -250px;
    color: #fffffd;
    font-family: OpenSans-Regular;
    display: flex;
    flex-direction: column;
}

.sled {
    background-color: rgb(243, 110, 100);
    color: aliceblue;
    width: 170px;
    height: 60px;
    margin-top: 40px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 36.8px 9.2px rgba(0, 0, 1, 0.09);
    border-radius: 2px;
    border: none;
    outline: none;
}

.sled2 {
    background-color: rgb(243, 110, 100);
    color: aliceblue;
    width: 170px;
    height: 60px;
    margin-top: 40px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 36.8px 9.2px rgba(0, 0, 1, 0.09);
    border-radius: 10px;
    border: none;
    outline: none;
}

.sled3 {
    background-color: #9059FF;
    color: aliceblue;
    width: 235px;
    height: 50px;
    margin-top: 40px;
    font-family: ProximaNovaCond-Bold;
    font-size: 12px;
    background-image: url(img/3.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 10px;
    border: none;
    outline: none;
    float: right;
}

.sled4 {
    background-color: #9059FF;
    color: aliceblue;
    width: 235px;
    height: 50px;
    margin-top: 40px;
    font-family: ProximaNovaCond-Bold;
    font-size: 12px;
    background-image: url(img/3.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 10px;
    border: none;
    outline: none;
    float: left;
}

.sled4:hover {
    background-color: green;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: black;
    background: #B5B5B5;
    border: 1px solid rgb(37, 156, 168);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-flex;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(37, 156, 168);
    border-radius: 100%;
    background: #B5B5B5;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 25px;
    height: 25px;
    background: rgb(37, 156, 168);
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rad {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}

.numer {
    display: inline-block;
    background: rgb(37, 156, 168);
    margin-right: 15px;
    width: 30px;
    height: 30px;
    font-family: OpenSans-Regular;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 253);
    font-weight: 700;
    padding-top: 9px;
}

.head30 {
    display: none;
    margin: auto;

}

.travma {
    display: inline-flex;
    justify-content: center;
}

.img55 {
    margin-right: 15px;
    margin-top: 2px;
}

.img555 {
    
    
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.nazvan {
    font-family: OpenSans-Regular;
    font-size: 24px;
    color: rgb(47, 190, 205);
    margin-top: 5px;
    font-weight: 600;
}

.nazvan2 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    color: rgb(47, 190, 205);
    margin-top: 5px;
    margin-left: 1%;
}

.harak {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #A6A6A6;
    margin-top: 5px;
}

.harak2 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    color: #A6A6A6;
    margin-top: 5px;
    margin: auto;
    margin-bottom: 25px;
}

.harak3 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    color: #A6A6A6;
    margin-top: 2%;
    margin-bottom: 10%;
}

.opis {
    display: flex;
}

.textotstup {
    margin-left: 10px;
}

.opisglav {
    font-family: OpenSans-Regular;
    font-size: 16px;

    padding-right: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.resultall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.textresult {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #3D3B3A;
    text-align: justify;
    margin: auto;
    margin-top: 1%;
}

.opisbok {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5px;
    text-align: justify;
}

.opisboknaz {
    color: #885FFF;
    font-family: ProximaNovaCond-Bold;
    font-size: 12px;
}

.opisboktext {
    font-size: 12px;
    color: #3D3B3A;
    margin-bottom: 30px;
}

.head50 {
    display: none;
    margin: auto;

}

.head60 {
    display: none;
    margin: auto;

}

.head70 {
    display: none;
    margin: auto;

}

.head80 {
    display: none;
    margin: auto;

}
.statt{
    color: #915EFF;
    display: flex;
    margin-left: 30px;
    font-size: 30px;
    font-family: ProximaNovaCond-Bold;
}

.img{
    margin-top: 30px;
}

.stat{
    color: #915EFF;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    font-family: ProximaNovaCond-Bold;
}

.lechenie-wrupper {
    display: flex;
    background-color: #23b14d;
    color: aliceblue;
    width: 30%;
    height: 130px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: ProximaNova-Extrabld;
    font-size: 18px;
    border: none;
    outline: none;
    white-space: normal;
    border-radius: 15px;
}

.lechenie1 {
    margin: auto;
text-align: center;
padding-left: 2%;
}

.lechenie2 {
    padding: 2%;
    background-color: #ffc90d;
    border-radius: 15px;
    margin: 15px;
    font-size: 12px;
    color: black;
    font-family: ProximaNova-Light;
}



.textprorab {
    font-family: ProximaNovaCond-Bold;
    text-align: center;
    margin: 0;
}


.testall{
    display: flex;
    color: rgb(47, 190, 205);
    font-size: 20px;
    font-family: OpenSans-Regular;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    font-weight: 700;
}

.testallwrapper{
    display: flex;
    margin-bottom: 70px;
}

.testall_wrapp_pecent{
    display: flex;
    justify-content: center;
}

.testall_wrapp_small{
    display: flex;
    justify-content: center;
    width: 135px;
    height: 210px;
    
}

.testall_wrapp_small:hover{
    box-shadow: 10px 5px 5px black;
}

.testall_percent{
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 9px;
}

.body_top_but{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #FFFFFF;
    width: 260px;
    height: 40px;
    background: linear-gradient(95.73deg, #5F89F5 0%, #955FF3 95.89%);
    box-shadow: 0px 3px 0px #4834A2;
    border-radius: 50px;
    margin-right: 250px;
    text-decoration: none;
    font-family: OpenSans-Regular;
    font-size: 25px;
    font-weight: 700;
}

.body_top_but:hover{
    background: #9560F4;
}

.body_top_result{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

@media screen and (max-width: 600px)
{
   
    .header {
        width: 100%;
    }

    .header_title {
        font-size: 10px;
        font-family: "OpenSans-LightItalic";
        color: rgb(9, 76, 84);
        font-weight: 800;
        line-height: normal;
        display: flex;
        text-align: justify;
        margin-right: 0px;
    }

    .input:hover{
        width: 160px;
        height: 40px;
        color: #fffffd;
        font-family: OpenSans-Regular;
        font-weight: 700;
        background-color: green;
        border: none;
        outline: none;
        box-shadow: 10px 5px 5px black;
    }

    .fio {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: rgb(27, 26, 54);
        font-weight: 700;
        line-height: normal;
        display: flex;
        text-align: justify;
        margin: 2%;
    }

    .fio_fio{
        font-size: 10px;
        font-weight: 600;
    }

    .fio_container{
        margin-left: 5px;
        margin-right: 5px;
    }

    .input{
        border-radius: 10px;
    }



    .header_top {
        display: none
    }

    .header_top_mobi{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 5px;
    }

    .header_top_mobi_wrapper1{
        display: inline-flex;
    }

    .header_top_container{
        flex-direction: column;
        justify-content: center;
    }

    .body_top {
        flex-direction: column;
        margin-left: -10px;
        height: auto;
        width: auto;
        margin-right: -10px;
    }

    .container_left {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 10px;
        padding: 5%;
    }

    .container_right{
        margin-left: 10px;
        width: auto;
        padding: 5%;
    }

    .text_top {
        text-align: justify;
        padding-top: 0px;
    }

    .text_bottom {

        padding-top: 0px;
        line-height: 1;

    }

    .body_middle {
    height: auto;
    justify-content: center;
    }

    .body_middle_text {
        margin-right: 0px;
        width: auto;
        height: auto;
        padding: 5%;
        text-align: justify;
    }

    .bode_middle_pred, .bode_middle_otverg, .bode_middle_unig, .bode_middle_pokin, .bode_middle_nespr {
        margin-right: 0px;
        width: auto;
        height: auto;
        padding: 5%;
    }

    .body_middle_tr_text_zag {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .body_middle_img {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer {
        width: auto;
        height: auto;
        margin-left: -10px;
        margin-right: -10px;
        
    }

    .footer_top {
        padding: 5%;
        margin-left: 0px;
        margin-top: 0px;
    }


    .footer_top_text {
        display: none;

    }
    .footer_top_text_mobi {
        display: flex;
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: rgb(255, 255, 255);

    }

    .footer_bottom {
        height: 600px;
        margin-left: 10px;
        margin-top: 0px;
    }

    .footer_bottom_container1{
        padding: 5%;
    }

    .footer_bottom_container_contaiters {
        display: flex;
        flex-direction: column;
    }

    .fotter_bottom_copyright{
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: justify;
        padding: 1%;
        font-size: 14px;
        margin-top: -30px;
        height: auto;
    }

    
.fotter_bottom_copyright_1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.fotter_bottom_copyright_2{
    font-size: 12px;
}

    .footer_bottom_container_contacts_telega, .footer_bottom_container_contacts_phone, .footer_bottom_container_contacts_email, .footer_bottom_container_contacts_skype{
        margin-bottom: 0px;
    }

    .fotter_bottom_zag{
        display: none;
    }

    .footer_bottom_container_zag2{
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .head{
        justify-content: normal;
    }

.count{
    width: 100%;
    height: 45px;
}

#counter{
    font-size: 30px;
}

.tex {
    display: flex;

}

    #headTest {
        font-family: OpenSans-Regular;

        font-size: 10px;
        margin-left: 0px;
        width: 100%;
    }

    .count_text{
        margin-left: 5px;
        font-size: 13px;
    }

    
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{

    width: 15px;
    height: 15px;

}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {

    width: 15px;
    height: 15px;

}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {

    width: 15px;
    height: 15px;

}
.rad{
    margin-left: 15px;
}

.head1{
    margin-left: 0px;
}

.testall{
    flex-wrap: wrap;
}

.body_top_result{
    width: auto;
    margin-right: -10px;
    flex-direction: column;
    margin-right: auto;
}

.body_top_but{
    flex-direction: column;
    margin-left: 500px;
}

}
