@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fonts/OpenSans-LightItalic.ttf);
}

body{
    background-color: #fffffd;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.header{
    width: 1150px;
}

.header_top{
    display: flex;
    height: 120px;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.logo{
    display: inline-flex;
    align-items: center;
}

.fio{
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: rgb(27, 26, 54);
    font-weight: 900;
    line-height: 0.2;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 15px;
}

.fio_fio{
    margin-top: 10px;
    font-size: 10px;
}

.header_title{
    font-size: 14px;
    font-family: "OpenSans-LightItalic";
    color: rgb(9, 76, 84);
    font-weight: 800;
    line-height: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 45px;
}

.header_top_container{
    display: inline-flex;
align-items: center;
}

.logo_globe{
    margin-right: 10px;
    margin-left: 10px;
}

.logo_insta, .logo_vk{
    margin-right: 10px;
}

.phone{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: rgb(18, 148, 161);
    font-weight: 700;
} 

.body_top{
    background-image: url("/img/plashka.png");
    width: 1600px;
    height: 250px;
    margin-left: -250px;
    color: #fffffd;
    font-family: OpenSans-Regular;
    display: flex;
    justify-content: space-between;
}

.body_top_result{
    background-image: url("/img/plashka_result_test.png");
    width: 1600px;
    height: 55px;
    margin-left: -250px;
    display: flex;
    align-items: center;

}

.body_top_result_text{
    color: #fffffd;
    font-family: OpenSans-Regular;
    font-size: 25px;
    padding-left: 300px;
    font-weight: 700;
}

.text_top{
    font-size: 20px;
    font-weight: 800;
    line-height: 0.2;
    padding-top: 20px;
}

.text_bottom{
    font-size: 14px;
    padding-top: 20px;
    line-height: 1;
    font-weight: 400;
    font-family: "OpenSans-LightItalic";
    width: 290px;
}

.container_left{
    margin-left: 250px;
}

.container_right{
    width: 460px;
    padding-right: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intext{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.name-pass{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.intext-pass{
    width: 45%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.input{
    
    height: 40px;
    color: #fffffd;
    font-family: OpenSans-Regular;
    font-weight: 700;
    background-color: #f36e64;
    border: none;
    outline: none;
}

.input:hover{
    
    height: 40px;
    color: #fffffd;
    font-family: OpenSans-Regular;
    font-weight: 700;
    background-color: #f36e64;
    border: none;
    outline: none;
    box-shadow: 10px 5px 5px black;
}

.inbtn{
    display: flex;
    justify-content: center;
    
}

.body_middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 65px;
    height: 535px;
}

.body_middle_text{
    margin-right: 70px;
    width: 300px;
    height: 300px;
}

.bode_middle_pred{
    margin-right: 70px;
    width: 300px;
    height: 300px;
}

.bode_middle_otverg{
    margin-right: 70px;
    width: 300px;
    height: 300px;
}

.bode_middle_unig{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 70px;
    width: 300px;
    height: 270px;
    margin-top: 25px;
}

.bode_middle_pokin{
    margin-right: 70px;
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.bode_middle_nespr{
    margin-right: 70px;
    width: 300px;
    height: 300px;
    margin-top: 25px;
}


.body_middle_text1{
    color: #f36e64;
    font-size: 22px;
    margin-bottom: 30px;
    font-family: OpenSans-Regular;
    font-weight: 500;
}

.body_middle_text2{
    color: rgb(18, 148, 161);
    font-size: 14px;
    font-family: "OpenSans-LightItalic";
    font-weight: 700;
}

.body_middle_img{
    margin-bottom: 30px;
}

.body_middle_tr_text_zag{
    margin-bottom: 20px;
}

.body_middle_tr_text_zag{
    color: rgb(46, 50, 51);
    font-size: 18px;
    font-family: OpenSans-Regular;
    font-weight: 700;
}

.body_middle_tr_text1{
    color: rgb(117, 133, 148);
    font-size: 12px;
    font-family: OpenSans-Regular;
    font-weight: 600;
}

.footer{
    background-image: url("/img/footer.png");
    width: 1600px;
    height: 590px;
    margin-left: -250px;
    color: #fffffd;
    font-family: OpenSans-Regular;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer_bottom{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 50px;
}

.footer_top{
    display: inline-flex;
    margin-left: 250px;
    margin-top: 50px;
}

.footer_top_container_text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.fotter_top_contact{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(47, 190, 205);
}

.footer_top_text{
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: rgb(255, 255, 255);
    display: inline-flex;
}

.footer_top_text_1{
    font-family: OpenSans-Regular;
    color: rgb(47, 190, 205);
}

.footer_bottom_container_contaiters{
    display: inline-flex;
}

.fotter_bottom_zag{
    margin-bottom: 25px;
    font-family: OpenSans-Regular;
    font-weight: 600;
    font-size: 21px;
}

.footer_bottom_container_zag1{
    font-family: "OpenSans-LightItalic";
    font-size: 20px;
    font-weight: 600;
}

.footer_bottom_container_zag2{
    font-family: OpenSans-Regular;
    color: rgb(47, 190, 205);
    font-size: 13px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}

.testall_text_travma{
    font-size: 14px;
}

.testall_img{
    height: 135px;
}

.footer_bottom_container_blog_container1{
    display: inline-flex;
}

.footer_bottom_container_blog_container2{
    display: inline-flex;
    margin-top: 10px;
}

.footer_bottom_container_blog{
    width: 330px;
    height: 180px;
}

.footer_bottom_container_blog_photo{
    margin-right: 15px;
}

.footer_bottom_container_blog_text{
    font-family: "OpenSans-LightItalic";
    color: rgb(47, 190, 205);
    font-size: 13px;
}

.footer_bottom_container_blog_text_1{
    font-family: OpenSans-Regular;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.footer_bottom_container_blog{
    margin-right: 75px;
}

.footer_bottom_container_contacts_telega, .footer_bottom_container_contacts_phone, .footer_bottom_container_contacts_email, .footer_bottom_container_contacts_skype{
    display: inline-flex;
    margin-bottom: 25px;
}

.footer_bottom_container3{
    margin-right: 250px;
}

.footer_bottom_container_contacts{
    display: flex;
    flex-direction: column;
}

.footer_bottom_container_contacts_contact{
    margin-left: 20px;
    font-family: "OpenSans-LightItalic";
    color: rgb(47, 190, 205);
    font-size: 14px;
}

.footer_bottom_container2{
    margin-right: 150px;
}

.footer_bottom_container_containerSoc{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}

.footer_bottom_container_containerSoc_face, .footer_bottom_container_containerSoc_youtube, .footer_bottom_container_containerSoc_insta, .footer_bottom_container_containerSoc_gc, .footer_bottom_container_containerSoc_twitter, .footer_bottom_container_containerSoc_google{
    margin-right: 15px;
    margin-bottom: 15px;
}

.footer_bottom_container_containerSoc{
    width: 230px;
    height: 100px;
}

.fotter_bottom_copyright{
    margin-top: 5px;
    border-top: solid 1px;
    border-color: rgb(0, 0, 0, 0.302);
    width: 1150px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "OpenSans-LightItalic";
    color: rgb(47, 190, 205);
    font-size: 11px;
    font-weight: 600;
    padding-top: 10px;
}

.header_top_mobi, .footer_top_text_mobi {
    display: none;
}

@media screen and (max-width: 600px)
{
   

    .header {
        width: 100%;
    }

    .header_title {
        font-size: 10px;
        font-family: "OpenSans-LightItalic";
        color: rgb(9, 76, 84);
        font-weight: 800;
        line-height: normal;
        display: flex;
        text-align: justify;
        margin-right: 0px;
    }

    .input:hover{
        width: 160px;
        height: 40px;
        color: #fffffd;
        font-family: OpenSans-Regular;
        font-weight: 700;
        background-color: green;
        border: none;
        outline: none;
        box-shadow: 10px 5px 5px black;
    }

    .fio {
        font-family: OpenSans-Regular;
        font-size: 18px;
        color: rgb(27, 26, 54);
        font-weight: 700;
        line-height: normal;
        display: flex;
        text-align: justify;
        margin: 2%;
    }

    .fio_fio{
        font-size: 10px;
        font-weight: 600;
    }

    .fio_container{
        margin-left: 5px;
        margin-right: 5px;
    }

    .input{
        border-radius: 10px;
    }



    .header_top {
        display: none
    }

    .header_top_mobi{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 5px;
    }

    .header_top_mobi_wrapper1{
        display: inline-flex;
    }

    .header_top_container{
        flex-direction: column;
        justify-content: center;
    }

    .body_top {
        flex-direction: column;
        margin-left: -10px;
        height: auto;
        width: auto;
        margin-right: -10px;
    }

    .container_left {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 10px;
        padding: 5%;
    }

    .container_right{
        margin-left: 10px;
        width: auto;
        padding: 5%;
    }

    .text_top {
        text-align: justify;
        padding-top: 0px;
    }

    .text_bottom {

        padding-top: 0px;
        line-height: 1;

    }

    .body_middle {
    height: auto;
    justify-content: center;
    }

    .body_middle_text {
        margin-right: 0px;
        width: auto;
        height: auto;
        padding: 5%;
        text-align: justify;
    }

    .bode_middle_pred, .bode_middle_otverg, .bode_middle_unig, .bode_middle_pokin, .bode_middle_nespr {
        margin-right: 0px;
        width: auto;
        height: auto;
        padding: 5%;
    }

    .body_middle_tr_text_zag {
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .body_middle_img {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer {
        width: auto;
        height: auto;
        margin-left: -10px;
        margin-right: -10px;
        
    }

    .footer_top {
        padding: 5%;
        margin-left: 0px;
        margin-top: 0px;
    }


    .footer_top_text {
        display: none;

    }
    .footer_top_text_mobi {
        display: flex;
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: rgb(255, 255, 255);

    }

    .footer_bottom {
        height: 600px;
        margin-left: 10px;
        margin-top: 0px;
    }

    .footer_bottom_container1{
        padding: 5%;
    }

    .footer_bottom_container_contaiters {
        display: flex;
        flex-direction: column;
    }

    .fotter_bottom_copyright{
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: justify;
        padding: 1%;
        font-size: 14px;
        margin-top: -30px;
        height: auto;
    }

    
.fotter_bottom_copyright_1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.fotter_bottom_copyright_2{
    font-size: 12px;
}

    .footer_bottom_container_contacts_telega, .footer_bottom_container_contacts_phone, .footer_bottom_container_contacts_email, .footer_bottom_container_contacts_skype{
        margin-bottom: 0px;
    }

    .fotter_bottom_zag, .footer_bottom_container3{
        display: none;
    }

    .footer_bottom_container_zag2{
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .footer_bottom_container_soc{
        margin-left: 30%;
    }

    .logo_globe{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .logo_insta, .logo_vk{
        margin-right: 0px;
    }
}