a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #666;
  font-size: large;
  text-align: center;
}

.pacient {
    margin-top: 50px;
}

.bgcolorResult {
  background-color: brown;
  margin-left: 5%;
  border-radius: 30%;
  padding: 1%;
  
}

.bgcolorResult2{
  background-color: rosybrown;
  margin-left: 1%;
  border-radius: 30%;
  padding: 1%;
}