<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика защиты персональной информации</title>
</head>
<body>
    <div style="text-align: justify;"><h1>ПОЛИТИКА ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
ПОЛЬЗОВАТЕЛЕЙ САЙТА</h1>
    1. Определение терминов


1.1 В настоящей Политике конфиденциальности используются следующие термины:


1.1.1. «Администрация Сайта https://korneichuk.online» (далее – Администрация) – ООО "ЛИНЕСКА"(ИНН 2801246835 ), который организует и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.


1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).


1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.


1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.


1.1.5. «Сайт https://korneichuk.online» - это совокупность связанных между собой веб-страниц, размещенных в сети Интернет по уникальному адресу (URL): https://korneichuk.online.


1.1.6. «Пользователь Сайта https://korneichuk.online» (далее Пользователь) – лицо, имеющее доступ к Ресурсу, посредством сети Интернет и использующее информацию и материалы Сайта https://korneichuk.online.


1.1.7. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.


1.1.8. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.




2. Общие условия


2.1. Настоящая Политика определяет порядок обработки и защиты ООО ЛИНЕСКА (ИНН 2801246835 ) информации о физических лицах (далее – Пользователь), которая может быть получена при использовании Пользователем услуг, неисключительной лицензии предоставляемых в том числе посредством сайта, сервисов, служб, программ используемых ООО ЛИНЕСКА (далее – Сайт, Сервисы).


2.2. Целью настоящей Политики является обеспечение надлежащей защиты персональной информации которую Пользователь предоставляет о себе самостоятельно при использовании Сайта, Сервисов или в процессе регистрации (создании учетной записи), для приобретения услуг, неисключительной лицензии от несанкционированного доступа и разглашения.


2.3. Отношения, связанные со сбором, хранением, распространением и защитой информации предоставляемой Пользователем, регулируются настоящей Политикой, и действующим законодательством Российской Федерации.


2.4. Регистрируясь на Сайте (https://korneichuk.online) и используя Сайт (https://korneichuk.online) и Сервисы Пользователь выражает свое полное согласие с условиями настоящей Политики.


2.5. В случае несогласия Пользователя с условиями настоящей Политики использование Сайта и/или каких-либо Сервисов доступных при использовании Сайта должно быть немедленно прекращено.


2.6. В случае не согласия Пользователя в получении информации от Индивидуального предпринимателя Гришечкина Евгения Сергеевича Пользователь может отписаться от рассылки:


- кликнув по ссылке "Отписаться" внизу письма;


- в личном кабинете на Сайте, путем снятия ранее выбранных опций;


- путем направления уведомления на электронную почту v.kornejchuk@bk.ru


При поступлении уведомлений на электронную почту v.kornejchuk@bk.ru  Обращение обрабатывается максимум в течение 48 часов. В результате информация о Пользователе не включается в рассылку.


2.7. Настоящая Политика конфиденциальности применяется к Сайту https://korneichuk.online.


Сайт https://korneichuk.online не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Ресурсе https://korneichuk.online.


2.8. Администрация не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта https://korneichuk.online.




3. Предмет политики конфиденциальности


3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации Сайта https://korneichuk.online по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации при регистрации на Сайте https://korneichuk.online или при оформлении заказа для приобретения услуг.


3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте https://korneichuk.online и включают в себя следующую информацию:


3.2.1. фамилию, имя, отчество Пользователя;


3.2.2. контактный телефон Пользователя;


3.2.3. адрес электронной почты (e-mail);


3.2.4. место жительство Пользователя (по требованию Администрации).


3.3. Сайта https://korneichuk.online защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):


IP адрес;


информация из cookies;


информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);


время доступа;


адрес страницы, на которой расположен рекламный блок;


реферер (адрес предыдущей страницы).


3.3.1. Отключение cookies может повлечь невозможность доступа к частям Сайта https://korneichuk.online, требующим авторизации.


3.3.2. Сайта https://korneichuk.online осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.


3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев:


- администрация вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте https://korneichuk.online.


- персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.




4. Цели сбора, обработки и хранения информации предоставляемой пользователями Сайта


4.1. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. ООО ЛИНЕСКА обрабатывает персональные данные Пользователя в целях:


- идентификации стороны в рамках соглашений и договоров заключаемых с ООО ЛИНЕСКА;


- предоставления Пользователю услуг, неисключительной лицензии, доступа к Сайту, Сервисам, с целью получения информационных продуктов, обновлений;


- связи с Пользователем, направлении Пользователю транзакционных писем в момент получения заявки регистрации на Сайте или получении оплаты от Пользователя, разово, если Пользователь совершает эти действия, направлении Пользователю уведомлений, запросов;


- проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Сайта, а также разрабатывать новые сервисы и разделы Сайта;


- проведение статистических и иных исследований на основе обезличенных данных.


- определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.


- предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта https://korneichuk.online и Сервисов.


- предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Сайта https://korneichuk.online.




5. Условия обработки персональной информации предоставленной Пользователем и ее передачи третьим лицам


5.1. ООО ЛИНЕСКА принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения.


5.2. ООО ЛИНЕСКА предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам которым эта информация необходима для обеспечения функционирования Сайта, Сервисов и оказания Услуг, получении неисключительной лицензии Пользователем.


5.3. ООО ЛИНЕСКА вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.


5.4.ООО ЛИНЕСКА не проверяет достоверность информации предоставляемой Пользователем и исходит из того, что Пользователь в рамках добросовестности предоставляет достоверную и достаточную информацию, заботится о своевременности внесения изменений в ранее предоставленную информацию при появлении такой необходимости, включая но не ограничиваясь изменение номера телефона.


5.5. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.


5.6. Администрация совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.




6. Условия пользования Сайтом, Сервисами


6.1. Пользователь при пользовании Сайтом, подтверждает, что:


- обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию (создание учетной записи) и использовать Услуги сайта;


- указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта, обязательные для заполнения поля для дальнейшего предоставления Услуг сайта помечены специальным образом, вся иная информация предоставляется пользователем по его собственному усмотрению.


- осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для третьих лиц не оговоренных в настоящей Политике и может быть скопирована и распространена ими;


- ознакомлен с настоящей Политикой, выражает свое согласие с ней и принимает на себя указанные в ней права и обязанности. Ознакомление с условиями настоящей Политики и проставление галочки под ссылкой на данную Политику является письменным согласием Пользователя на сбор, хранение, обработку и передачу третьим лицам персональных данных предоставляемых Пользователем.


6.2. ООО ЛИНЕСКА не проверяет достоверность получаемой (собираемой) информации о Пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения обязательств перед Пользователем.




7. Изменение и удаление персональных данных


7.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, воспользовавшись функцией редактирования персональных данных в разделе, либо в персональном разделе соответствующего Сервиса. Пользователь обязан заботится о своевременности внесения изменений в ранее предоставленную информацию, ее актуализации, в противном случае ООО ЛИНЕСКА не несет ответственности за неполучение уведомлений, услуг и т.п.


7.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию. При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов.


7.3. В случае не согласия Пользователя в получении информации от ООО ЛИНЕСКА Пользователь может отписаться от рассылки:


- кликнув по ссылке "Отписаться" внизу письма;


- в личном кабинете на Сайте, путем снятия ранее выбранных опций;


- путем направления уведомления на электронную почту v.kornejchuk@bk.ru


При поступлении уведомлений на электронную почту  v.kornejchuk@bk.ru . Обращение обрабатывается максимум в течение 48 часов. В результате информация о Пользователе не включается в рассылку.




8. Ответственность сторон


8.1. Администрация, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.


8.2. В случае утраты или разглашения Конфиденциальной информации Администрация не несёт ответственность, если данная конфиденциальная информация:


8.2.1. Стала публичным достоянием до её утраты или разглашения.


8.2.2. Была получена от третьей стороны до момента её получения Администрацией Сайта https://korneichuk.online.


8.2.3. Была разглашена с согласия Пользователя.


8.3. Пользователь несет полную ответственность за соблюдение требований законодательства РФ, в том числе законов о рекламе, о защите авторских и смежных прав, об охране товарных знаков и знаков обслуживания, но не ограничиваясь перечисленным, включая полную ответственность за содержание и форму материалов.


8.4. Пользователь признает, что ответственность за любую информацию (в том числе, но не ограничиваясь: файлы с данными, тексты и т. д.), к которой он может иметь доступ как к части Сайта https://korneichuk.online, несет лицо, предоставившее такую информацию.


8.5. Пользователь соглашается, что информация, предоставленная ему как часть Сайта https://korneichuk.online, может являться объектом интеллектуальной собственности, права на который защищены и принадлежат другим Пользователям, партнерам или рекламодателям, которые размещают такую информацию на Сайте https://korneichuk.online. Пользователь не вправе вносить изменения, передавать в аренду, передавать на условиях займа, продавать, распространять или создавать производные работы на основе такого Содержания (полностью или в части), за исключением случаев, когда такие действия были письменно прямо разрешены собственниками такого Содержания в соответствии с условиями отдельного соглашения.


8.6. В отношение текстовых материалов (статей, публикаций, находящихся в свободном публичном доступе на Сайте https://korneichuk.online) допускается их распространение при условии, что будет дана ссылка на сайт (любой другой ресурс) и ФИО (Псевдоним) автора, написавшего данный текстовый материал.


8.7. Администрация не несет ответственности перед Пользователем за любой убыток или ущерб, понесенный Пользователем в результате удаления, сбоя или невозможности сохранения какого-либо Содержания и иных коммуникационных данных, содержащихся на Сайта https://korneichuk.online или передаваемых через такой Сайт.


8.8. Администрация не несет ответственности за любые прямые или косвенные убытки, произошедшие из-за: использования либо невозможности использования сайта либо отдельных сервисов; несанкционированного доступа к коммуникациям Пользователя; заявления или поведение любого третьего лица на сайте.


8.9. При любых обстоятельствах ответственность Администрации в соответствии со статьей 15 Гражданского кодекса России не может превышать 5 000 (пяти тысяч) рублей и возлагается на неё при наличии в его действиях вины.


8.10. Администрация не несет ответственность за какую-либо информацию, размещенную пользователем на Сайте https://korneichuk.online, включая, но не ограничиваясь, информацию, защищенную авторским правом, без прямого согласия владельца авторского права.




9. Разрешение споров


9.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта https://korneichuk.online и Администрацией, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).


9.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.


9.3. При не достижении соглашения спор будет передан на рассмотрение Арбитражного суда г. Москвы.


9.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Сайта https://korneichuk.online применяется действующее законодательство Российской Федерации.




10. Изменение Политики конфиденциальности. Применимое законодательство


10.1. Индивидуальный предприниматель Гришечкин Евгений Сергеевич имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция всегда находится на странице по адресу https://korneichuk.online/politika.html.


10.2. К настоящей Политике и отношениям между Пользователем и Индивидуальным предпринимателем Гришечкиным Евгением Сергеевичем возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.




11. Обратная связь. Вопросы и предложения


11.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки ООО ЛИНЕСКА по электронной почте  v.kornejchuk@bk.ru



</div>
Обновлено «03» августа 2021г.


Адрес: г. Москва.
</body>
</html>